
<header>
	
    <!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="#!">one</a></li>
	  <li><a href="#!">two</a></li>
	  <li class="divider"></li>
	  <li><a href="#!">three</a></li>
	</ul>
	<nav>
	  <div class="nav-wrapper">
	    <a href="#!" class="brand-logo">askbefikar</a>
	    <ul class="right hide-on-med-and-down">
	      <li><%= link_to "Users", '/' %></li>
	      <li><%= link_to "Profile", edit_user_registration_path %></li>
	      <li><%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>
	      <!-- Dropdown Trigger -->
	      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
	    </ul>
	  </div>
	</nav>

</header>
<br>

<div class="main">
	
	<div class="leftblock"> </div>	
	<div class="centreblock">

		<div class="create_ques">

			<%= form_tag url_for(controller: 'home',action: 'ques',method: :post) do %>

			<%= text_area_tag :content %>
			<%= submit_tag 'Ask' %>

			<% end %>

		</div>
			
<%  @questions.each do |q|  %>		
		<div class="ques">
					
					<!-- <ul class="email"> -->
					<ul style="font-weight: bold;">
					<%= q.user.email%>
					</ul>

					<%= q.content %>
					<br>
			<!-- Modal Trigger -->
			<div class="modalff">
				  
				  <% str="#answer_modal_#{q.id}" %>							 
				  <a class="waves-effect waves-light btn modal-trigger" href=<%=str%> >Answers</a>
				  
				  <% str="/toggle_question_upvote/#{q.id}" %>
				  <% html_id_for_ques = "question_#{q.id}" %>
				  <% upvote_status = is_question_upvoted(q.id) ? "Downvote" : "Upvote" %>
				  
				  <div>
					  <span>
					  	<%= link_to upvote_status,str,method: :post,:id=>html_id_for_ques,:remote=>true %>
					  </span>
					  <span id="question_count_<%= q.id %>">
					  	<%= q.upvotes.count %>
					  </span>
				  </div>
				  <% str="answer_modal_#{q.id}" %>	
				  
				  <!-- Modal Structure -->
				  <div id=<%= str %> class="modal modal-fixed-footer">
				    <div class="modal-content">
				      <%= form_tag url_for(controller: 'home',action: 'answer',method: :post,:id=>q.id),:class=>"answer_form",:id=>"ans_form_#{q.id}",remote: true do%>
				      		<%= text_area_tag :content%>
				      		<%= submit_tag :Submit,:class=>"modal-action modal-close waves-effect waves-green btn-flat " %>
				      <% end %>				    	
				      <h4>Answers</h4>
				      <ul>
				      	<% q.answers.each do |a| %>
								<%= render 'answer',:a => a %>
						<% end %>
				      </ul>	
				    </div>

				  </div>
			</div>
			

		</div>	
<% end %>

           

	</div>
	<div class="rightblock"> </div>

</div>


<br>
<br>

   
<footer> 
	 

	 <a id="totop" href="#linksHeading">Go to top of the page</a>
 
	



 
</footer>

