
<header>
	
    <!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="#!">one</a></li>
	  <li><a href="#!">two</a></li>
	  <li class="divider"></li>
	  <li><a href="#!">three</a></li>
	</ul>
	<nav>
	  <div class="nav-wrapper">
	    <a href="#!" class="brand-logo">askbefikar</a>
	    <ul class="right hide-on-med-and-down">
	      <li><%= link_to "Users", '/' %></li>
	      <li><%= link_to "Profile", '/profile' %></li>
	      <li><%= link_to "Sign Out",destroy_user_session_path,method: :delete %></li>
	      <!-- Dropdown Trigger -->
	      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
	    </ul>
	  </div>
	</nav>

</header>
<br>

<div class="main">
	
	<div class="leftblock"> </div>	
	<div class="centreblock">

		<div class="create_ques">

			<%= form_tag url_for(controller: 'home',action: 'ques',method: :post) do %>

			<%= text_area_tag :content %>
			<%= submit_tag 'Ask' %>

			<% end %>

		</div>
			
<%  @questions.each do |q|  %>		
		<div class="ques">
					
					<!-- <ul class="email"> -->
					<ul style="font-weight: bold;"">
					<%= q.user.email%>
					</ul>

					<%= q.content %>
					<br>

			<div class="modalff">						 <!-- Modal Trigger -->
				  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Answers</a>

				  <!-- Modal Structure -->
				  <div id="modal1" class="modal modal-fixed-footer">
				    <div class="modal-content">
				      <h4>Modal Header</h4>
				      <p>A bunch of text</p>
				    </div>
				    <div class="modal-footer">
				      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
				    </div>
				  </div>
			</div>



					<% q.answers.each do |a| %>
						<li><%= a.answer %></li>
					<% end %>
			

		</div>	
<% end %>

           

	</div>
	<div class="rightblock"> </div>

</div>


<br>
<br>

   
<footer> 
	 

	 <a id="totop" href="#linksHeading">Go to top of the page</a>
 
	



 
</footer>

